.nv-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 10000;
  align-items: center;
  color: #fff;
  background-color: #2C3E50;
  width: 100%;
  height: 150px;
  margin: 0;
  padding: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.nv-container a {
  color: currentColor;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.ln-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 100%;
  margin-left: 32px;
}

.ln-cont:hover {
  cursor: pointer;
}

.ln-cont img {
  width: 250px;
  height: 250px;
}

.sp-cont {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 140px;
  align-items: center;
  width: 100%;
  height: 50px;
  gap: 40px;
}

.btn-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 60px;
  width: 100px;
  height: 100px;
  
}

.btn-nav button{
  background: #fff;
  color:#AA7048;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 2px solid #2C3E50;
}



.btn-nav button:hover {
  background-color: #ffffff;
  color: #AA7048;
  border: 2px solid #AA7048;
}

.btn-nav button:active {
  background-color: #CAE6FF;
  color: black;
  border: 2px solid #1558b2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-nav button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #AA7048;
}


