.cardp-cont{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 232, 208, 1);
    color: black;
    width: 300px;
    height: 320px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.cardp-cont:hover{
    transform: translateY(-10px);
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3);
}

.capybara-container{
    margin: 0;
    padding: 0;
}

.capybara-container img{
    width: 10px;
    height: 10px;
}

.cardp-cont-pry{
    width: 300px;
    height: 200px;
}

.cardp-cont span{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    padding: 15px;
}

.cardp-cont a{
    text-decoration: none;
    color: black;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    padding: 15px;
}

