.ldh-container{
    margin-top: 100px;
    padding: 0;
}

.bd-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pst-cont{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 500px;
    color: #ffff;
}

.pst-cont img{
    display: block;
    width: 100%;
    height: 100%;   
}

.sp1 {
    position: absolute;
    bottom: 180px;
    left: 50px; 
    color: white; 
    font-size: 40px; 
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px 20px;
    border-radius: 5px;
    width: 300px;
    transition: background-color 0.3s ease;
    text-align: center;
}

.sp1:hover {
    background-color: #988d22; /* Color amarillo tipo Pac-Man */
}

.sp2{
    position: absolute;
    bottom: 180px;
    right: 50px; 
    color: white; 
    font-size: 40px; 
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    transition: background-color 0.3s ease;
    text-align: center;
}

.sp2:hover{
    background-color: #8b1410eb; /* Color amarillo tipo Pac-Man */
}


.msg-cont{
    display: flex;
    width: 1200px;
    height: 200px;
    background-color: #ffff;
    padding: 40px;
    margin: 40px;
    
}

.msg-cont p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 500;
    line-height: 47px;
    color: #020303;
    text-align: center;
    padding-right: 40px;

}

.msg-cont img{
    display: flex;
    width: 250px;
    height: 200px;
}

.svc-cont{
    background-color: #ffff;
    width: 1200px;
    padding: 40px;
    height: 680px;
}

.svc-cont h1{
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 70px;
}


.svc-content{
    display: flex;
    padding-top: 40px;
    width: 100%;
}

.svc-img{
    width: 420px;
    height: 450px;
    margin-right: 50px;
    border-radius: 40px;
}


.ind-cont{
    display: flex;
    flex-direction: column;
    width: 1280px;
    height: 700px;
    background-color: #ffff;
    margin-top: 40px;
}

.ind-cont h1{
    padding-top: 70px;
    width: 1000px;
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 70px;
    padding-left: 120px;
    
}

.tec-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    width: 1280px;
    height: 650px;
    background-color: #ffff;
    flex-wrap: nowrap;
}

.tec-info{
    padding-top: 60px;
    width: 1000px;
    height: 300px;
}

.tec-info h2{
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 70px;
}

.tec-info p{
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
}

.pry-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    width: 1280px;
    height: 1200px;
    background-color: #ffff;

}

.pry-cont h2{
    padding-top: 50px;
    padding-bottom: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 29px;
}

.ft-cont{
    display: flex;
    width: 100%;
    margin-top: 40px;
    background-color: #ffff;
}



