/* .proyects-container{
    display: grid;
    grid-template-columns: repeat(3, 1Fr);
    gap: 50px; 
    padding: 0px 100px 100px 100px ;
    width: 1000px;
    height: 770px;
} */

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    position: relative;
    overflow: hidden;
    height: 340px;
}

.proys{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1000px;
    gap: 20px;
}


.carousel-btn {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
}

.carousel-btn.prev {
    left: 0px;
}

.carousel-btn.next {
    right: 0;
}